.UserOutput {
  border: 1px dotted #ccc;
  box-shadow: 1px 1px 1px #eee;
  padding: 3px;
  width: 300px;
  margin: auto;
  margin-top: 10px;
}

.Username {
  width: max-content;
  margin-top: 5px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 5px;
  font-weight: bold;
}

.SecondText {
  margin-top: 0%;
  /* border: 1px solid blue; */
  padding: 5px;
}